<a href="https://colab.research.google.com/github/dlrstrum/lab1/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
print ("Hello world!")

Hello world!

In [35]:
import sys
print(sys.version)

3.11.11 (main, Dec  4 2024, 08:55:07) [GCC 11.4.0]

In [36]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [37]:
x = 5
y = "Hello, World!"

In [38]:
#This is a comment.
print("Hello, World!")
print("Hello, World!") #This is a comment

Hello, World!
Hello, World!

In [39]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [40]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [41]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [42]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [43]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [44]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [45]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

In [46]:
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [47]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [48]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [49]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [50]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [51]:
x = "Python is awesome"
print(x)

Python is awesome

In [52]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [53]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [54]:
x = 5
y = 10
print(x + y)

15

In [55]:
x = 5
y = "John"
print(x, y)

5 John

In [56]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [57]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [58]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [59]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [60]:
x = complex(1j)

print(type(x)) #display the data type of x

<class 'complex'>

In [62]:
x = list(("apple", "banana", "cherry"))
print(type(x))

<class 'list'>

In [63]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [64]:
import random

print(random.randrange(1, 10))

4

In [65]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [68]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [69]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

In [70]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [71]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [72]:
a = "Hello, World!"
print(a[1])

e

In [73]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [74]:
a = "Hello, World!"
print(len(a))

13

In [75]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [76]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [78]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [79]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.